@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body{

    height: 100vh;
}
.modal{
    display: none;
    position:fixed;
    z-index: 1;
    left:0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(53, 51, 51, 0.349);
}
.modalContent{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: white;
    align-items: center;
    margin: 10% auto;
    padding: 20px;
    width: 60%;
    border: 3px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0px 3px 8px black;
}
.header{
    text-align: center;
    box-shadow: 0px 3px 10px rgba(127, 134, 134, 0.2);
    width: 100%;
}
.mainHeading{
    font-size: 5rem;
}
.container{
 height: inherit;
 display: flex;
 flex-direction: column;
 align-items: center;
}
.board{
    margin-top:100px;
    height: inherit;
    max-width: 600px;
    max-height: 600px;
    display: grid;
    grid-template-columns:repeat(3, minmax(100px, 300px));
    grid-template-rows: repeat(3, minmax(100px, 300px));
    justify-content: center;
    gap: 10px;

}
.square{
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    background-color: rgba(127, 134, 134, 0.2);
    border-radius: 30px;

}
.square:hover{
    box-shadow: 0px 3px 10px rgba(53, 56, 56, 0.596);
}
.reset{
    margin-top: 20px;
    width: 300px;
    height: 100px;
    font-size: 2rem;
    background-color: rgba(39, 177, 39, 0.849);
    border-radius: 30px;
    border: none;
}
.reset:hover{
    box-shadow: 0px 3px 10px rgba(53, 56, 56, 0.596);
    cursor: pointer;
}