@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body{

    height: 100vh;
}
.header{
    text-align: center;
    box-shadow: 0px 3px 10px rgba(127, 134, 134, 0.2);
    width: 100%;
}
.mainHeading{
    font-size: 5rem;
}
.container{
 height: inherit;
 display: flex;
 flex-direction: column;
 align-items: center;
}
.board{
    margin-top:100px;
    height: inherit;
    max-width: 600px;
    max-height: 600px;
    display: grid;
    grid-template-columns:repeat(3, minmax(100px, 300px));
    grid-template-rows: repeat(3, minmax(100px, 300px));
    justify-content: center;
    gap: 10px;

}
.square{
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    background-color: rgba(127, 134, 134, 0.2);
    border-radius: 30px;

}
.square:hover{
    box-shadow: 0px 3px 10px rgba(127, 134, 134, 0.2);
}